header{
    background-color: #76cfc09c;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    text-align: center;
    height: 60px;
    border-bottom: 5px solid #248F8D;
    position: fixed;
    width: 100%;
   
  
}

#h1{
    margin-top: -20px;
    font-size: 70px;
}
#central{
    margin-top: 200px;
    width: 75%;
}

#central:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
body {
    border: 2px;
    background-color: #ffffff;
    text-align: center;
    
}

.texto{
    color: #1f192f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
}

.botao {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
}


*{
  justify-content: center;
}

    .botone{
        background-color: #76CFC0;
        font-size: 20px;
        font-family: 'inter';
        font-weight: lighter;
        height: 40px;
        width: 200px;
        border-radius: 15px;
      
    }

    .botone:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }

    #nome{
        background-color: #ffffff89 ;
        height: 30px;
        width: 400px;
        border-radius: 10px;

       
    }
   
    #idade{
        background-color: #ffffff89 ;
        height: 30px;
        width: 400px;
        border-radius: 10px;
    }
   
    #resultado{
        color: #76CFC0;
        height: 100px;
        margin-top: 20px;
       
    }

   